body * {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}
.center {
  max-width: 1280vw;
  margin: 0 auto;
  color: #fff;
}
img {
  object-fit: cover;
  vertical-align: top;
}
video {
  object-fit: cover;
  vertical-align: top;
}

.header-Aera {
  width: 100%;

  .header-nav {
    outline: 1px solid red;
    width: 100%;
    padding: 3vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .header-logo {
      transform: translateX(60px);
      img {
        width: 125px;
      }
    }//.header-logo
    .header-text {
      color: #fff;
      font-size: 14px;
      font-weight: 900;
      ul {
        display: flex;
        gap: 50px;
        li {
          a {
            padding: 1.8vw 0;
          }
        }
      }
    }//.header-text
    .language {
      color: #fff;
      font-size: 13px;
      transform: translateX(-60px);
      .language-text {
        display: flex;
        a {
          outline: 1px solid red;
          padding: 6px 18px;
        }
      }
    }//.language
  }//.header-nav
  
}//.header-Aera

.main-Aera {
  height: 100vh;
  .bg-video {
    video {
      width: 100vw;
    }
  }//.bg-video

  .music-video {
    .music-video--bg {
      width: 100vw;
      height: 65vw;
      background-image: url("../images/bg-cosmos.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .music-video--txt {
      text-align: center;
      padding: 200px 0 100px 0;
      p {
        font-size: 48px;
        font-weight: 700;
      }
    }
    .music-video--subVideo {
      width: 900px;
      height: 600px;
      outline: 1px solid red;
      background-image: url(../images/videoThumb2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }//.music-video
  .we-are-mave {
    width: 100vw;
    height: 65vw;
    background-image: url("../images/maveBG-back2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &.we-are-mave::before {
      content: "";
      display: block;
      width: 100%;
      height: 20vw;
      background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
      position: absolute;
      top: 0; left: 0;
    }
    &.we-are-mave::after {
      content: "";
      display: block;
      width: 100%;
      height: 25vw;
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
      position: absolute;
      bottom: 0; left: 0;
      z-index: 10;
    }
    .we-are-mave--bg {
      width: 100%;
      height: 38vw;
      background-image: url("../images/maveBG-front2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      bottom: 0; left: 0;
      z-index: 9;
      .we-are-mave--human {
        width: 25vw;
        height: 25vw;
        background-image: url("../images/memberAll.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0; right: 25%;

      }
    }
  }//.we-are-mave
  
}//.main-Aera