body * {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}
.center {
  max-width: 1280vw;
  margin: 0 auto;
  color: #fff;
}
img {
  object-fit: cover;
  vertical-align: top;
}
video {
  object-fit: cover;
  vertical-align: top;
}

.header-Aera {
  width: 100%;

  .header-nav {
    outline: 1px solid red;
    width: 100%;
    padding: 3vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .header-logo {
      transform: translateX(60px);
      img {
        width: 125px;
      }
    }//.header-logo
    .header-text {
      color: #fff;
      font-size: 0.8vw;
      font-weight: 900;
      ul {
        display: flex;
        gap: 50px;
        li {
          a {
            padding: 1.8vw 0;
          }
        }
      }
    }//.header-text
    .language {
      color: #fff;
      font-size: 13px;
      transform: translateX(-60px);
      .language-text {
        display: flex;
        a {
          outline: 1px solid red;
          padding: 6px 18px;
        }
      }
    }//.language
  }//.header-nav
  
}//.header-Aera

.main-Aera {
  height: 100%;
  .bg-video {
    font-size: 7.5vw;
    font-weight: bolder;
    position: relative;
    video {
      width: 100vw;
      z-index: -1;
    }
    .bg-video--txt-left {
      position: absolute;
      bottom: 4vw; left: 3vw;
      z-index: 10;
      transform: translate(10vw, 8vw);
    }
    .bg-video--txt-right {
      position: absolute;
      bottom: 10vw; right: 3vw;
      z-index: 10;
      text-align: right;
      transform: translate(-5vw, -10vw);
    }
    img {
      width: 30vw;
    }
  }//.bg-video

  .music-video {
    .music-video--bg {
      width: 100vw;
      height: 55vw;
      background-image: url("../images/bg-cosmos.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    
    .music-video--txt {
      text-align: center;
      padding: 10vw 0 5vw 0;
      p {
        font-size: 2.5vw;
        font-weight: 700;
      }
    }
    .music-video--subVideo {
      width: 46vw;
      height: 30vw;
      outline: 1px solid red;
      overflow: hidden;
      position: relative;
      
      img {
        width: 55vw;
        height: 35vw;
        position: absolute;
        top: -4vw; left: -5vw;
        transition: all 0.3s ease;
      }
    }
  }//.music-video
  .we-are-mave {
    width: 100vw;
    height: 65vw;
    background-image: url("../images/maveBG-back2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #000;
    
    .we-are-mave--bg {
      img {
        width: 120%;
        height: 38vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        bottom: 0; left: -10vw;
        transition: all 0.3s ease;
      }
      
      .we-are-mave--human {
        width: 25vw;
        height: 25vw;
        background-image: url("../images/memberAll.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: -8%; right: 25%;
      }
    }
    .we-are-mave--humanLogo {
      position: absolute;
      bottom: 23%; left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      ul {
        display: flex;
        justify-content: center;
        gap: 5vw;
        z-index: 99;
        li {
          a{
            img {
              width: 3vw;
              color: #fff;
              padding-bottom: 1vw;
              
            }
            P {
              text-align: center;
              font-size: 1vw;
              font-weight: 700;
            }
          }
        }
      }
    }
  }//.we-are-mave
  
  .mave-box {
    width: 100%;
    height: 80vw;
    background-image: url("../images/bg-album.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000;
    position: relative;
    .mave-box--txt {
      padding-top: 13vw;
      div {
        text-align: center;
        line-height: 1.2;
        margin-bottom: 2vw;
      }
      div:nth-child(1) {
        font-size: 2.5vw;
        font-weight: bold;
      }
      div:nth-child(2) {
        font-size: 1.1vw;
        font-weight: bold;
      }
      div:nth-child(3) {
        font-size: 0.8vw;
        line-height: 1.8;
      }
    }//.mave-box--txt
    .mave-box--item {
      outline: 1px solid red;
      width: 22vw;
      height: 22vw;
      background-image: url("../images/thumb-album.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
    }
    .mave-box--item-txt {
      text-align: center;
      font-weight: bold;
      padding-top: 3vw;
    }
  }
}//.main-Aera

.footer-Aera {
  height: 30vw;
  .footer-bg {
    width: 100%;
    height: 10vw;
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000;
    position: fixed;
    bottom: 0; left: 0;
    padding-bottom: 25%;
    z-index: -1;
  }
  .footer-allTxt {
    text-align: center;
    padding-top: 22vw;
    .footer-logo {
      img {
        width: 5vw;
      }
    }
    .sns-icon {
      margin: 2vw 0;
      ul {
        display: flex;
        justify-content: center;
        gap: 1vw;
        li {
          a {
            img {
              width: 1.1vw;
              opacity: 0.7;
            }
          }
        }
      }
    }
    .footer-text{
      opacity: 0.7;
      font-size: 0.7vw;
    }
  }
}//.footer-Aera